.page-tracker{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    justify-content: space-between;
    height: 3em;
}

.page-tracker--steper{
    display: flex;
    background-color: #0A2D82;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.page-tracker--steper:hover{
    opacity: .8;
}

.page-tracker--stepper--step{
    color: white;
    font-family: Montserrat, sans-serif;
}

.page-tracker--steper--status{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: .3em;
    background-color: #D3D62E;
    display: none;
}

.page-tracker--steper--status.active{
    display: block;
}