.page-tracker{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    justify-content: space-between;
    height: 3em;
}

.page-tracker--steper{
    display: flex;
    background-color: dimgray;
    border: 2px solid white;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page-tracker--steper:hover{
    opacity: .8;
}

.page-tracker--stepper--step{
    color: white;
}